
.products-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }

  .product-button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
    cursor: pointer;
  }
  